.form{
    padding-top: 10px;
}

.add{
    margin-left: 50px;
    padding-top: 20px;
}
.buttons{
    background-color: darkgreen;
    color: wheat;
    border: 3px dashed black;
}
.notAvailable{
    background-color: darkred;
    color: wheat;
}
