.refresh{
    margin-left: 50px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.delete{
    background-color: brown;
}

.edit{
    background-color: gray;
}
table {
    border: 1px solid gray;
    width: 100%;
  }
  th {
    border: 1px solid gray;
  }
  td {
    text-align: center;
    border: 1px solid gray;
  }
  tr {
    border: 1px solid gray;
  }
